numpy 
scipy 
matplotlib 
pandas 
sympy 
nose
gensim 
lxml 
NLTK 
imbalanced-learn
requests 
scikit-learn 
seaborn 
scrapy 
beautifulsoup4 
plotly 
networkx
tensorflow
keras 
xgboost
pyldavis
spacy
wordcloud
pillow
bokeh
statsmodels
opencv-python
pixiedust
pyenchant
feather-format
